<!DOCTYPE html>
<html>

{{ head }}

<body>

  {{ navbar }}

  <section class="hero is-bold is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered is-size-1 is-spaced">
          C/C++, simplified
        </h1>
        <h3 class="subtitle has-text-centered">
          Build the fastest software for any platform, faster.
        </h3>
      </div>
    </div>
  </section>

  <section class="hero is-light">
    <div class="hero-body">
      <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">
          <nav class="level">
            <div class="level-item">
              <h3 class="subtitle">
                <img src="img/cpp_logo.svg" width="28" height="28" viewBox="0 0 28 28">
                Create modern <b>C/C++</b> projects
              </h3>
            </div>
            <div class="level-item">
              <h3 class="subtitle">
                  <div>
                  <i class="fa fa-share-alt fa-lg" style=" vertical-align: middle;" aria-hidden="true"></i>
                  Share your code with <b>cpm bits</b>
                  </div>
              </h3>
            </div>
            <div class="level-item">
              <h3 class="subtitle">
                <i class="fa fa-microchip fa-lg" style=" vertical-align: middle;" aria-hidden="true"></i>
                Build for multiple platforms
              </h3>
            </div>
          </nav>
        </div>
      </div>

      <h3 class="subtitle has-text-centered">
        <img src="https://github.com/jorsanpe/cpm/workflows/CI/badge.svg" height="28"/>
      </h3>
    </div>
  </section>

  <section class="hero is-bold">
    <div class="hero-body">
      <div class="columns is-mobile">
        <div class="column is-4 is-offset-4">
          <h1 class="title has-text-centered">
            Get Started
          </h1>
            <pre><code class="language-bash">$ pip install cpm-cli
$ cpm create MyAwesomeProject
$ cd MyAwesomeProject
$ cpm build</code></pre>
        </div>
      </div>
    </div>
  </section>

  {{ footer }}

</body>

</html>
