<aside class="menu">
    <p class="menu-label">
        Contents
    </p>
    <ul class="menu-list">
        {% for doc in documents %}
        <li><a href="{{ doc.href }}">
            {{ doc.title }}
        </a></li>
        {% endfor %}
        <li><a href="https://github.com/jorsanpe/cpm/wiki/What-is-CPM">Getting started</a></li>
        <li><a href="https://github.com/jorsanpe/cpm/wiki/What-is-CPM">What is CPM?</a></li>
        <li><a href="https://github.com/jorsanpe/cpm/wiki/Project-Structure">Project Structure</a></li>
        <li><a href="https://github.com/jorsanpe/cpm/wiki/Command-Line">Command Line</a></li>
        <li><a href="https://github.com/jorsanpe/cpm/wiki/Project-Descriptor">Project Descriptor</a></li>
        <li><a href="https://github.com/jorsanpe/cpm/wiki/Plugin-Development">Plugin Development</a></li>
    </ul>
</aside>
