<div class="card">
    <div class="card-content">
        <p class="title">
            Create your account
        </p>
        <div class="field">
            <label class="label">Username</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" id="registration_form_username" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" id="registration_form_email" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input class="input" id="registration_form_password" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Invitation Token</label>
            <p class="control has-icons-left">
                <input class="input" id="registration_form_invitation_token" type="text" placeholder="Invitation Token">
                <span class="icon is-small is-left">
                    <i class="fa fa-ticket-alt"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success" id="registration_form_submit">
                    Sign Up
                </button>
            </p>
        </div>
    </div>
</div>
